In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\charl\OneDrive\Documents\Python Tutorial Notes\Example_Folder2\world_population (1).csv')

df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [19]:
grouped_dataframe = df.groupby('Continent')

grouped_dataframe

In [23]:
grouped_dataframe.mean('Continent'),['Rank','2022 Population']

(                     Rank  2022 Population  2020 Population  2015 Population  \
 Continent
 Africa          92.157895     2.545588e+07     2.387144e+07     2.141970e+07
 Asia            77.560000     9.632739e+07     9.495513e+07     8.916500e+07
 Europe         124.500000     1.505537e+07     1.491584e+07     1.502745e+07
 North America  160.925000     1.500740e+07     1.485591e+07     1.425960e+07
 Oceania        188.521739     2.046386e+06     1.910149e+06     1.756664e+06
 South America   97.571429     3.120119e+07     3.082357e+07     2.950960e+07

                2010 Population  2000 Population  1990 Population  \
 Continent
 Africa            1.889820e+07     1.459837e+07     1.137696e+07
 Asia              8.908777e+07     8.058084e+07     4.864000e+07
 Europe            1.471228e+07     1.481769e+07     1.478520e+07
 North America     1.356802e+07     1.215174e+07     1.053166e+07
 Oceania           1.613164e+06     1.357512e+06     1.162775e+06
 South America     2.678940e+07     2.501589e+07     2.122474e+07

                1980 Population  1970 Population    Area (km²)  \
 Continent
 Africa            8.586032e+06     6.567175e+06  5.378793e+05
 Asia              4.027833e+07     4.383988e+07  6.427628e+05
 Europe            1.420000e+07     1.311848e+07  4.602082e+05
 North America     9.207334e+06     7.885865e+06  6.061044e+05
 Oceania           9.965322e+05     8.469683e+05  3.702209e+05
 South America     1.727064e+07     1.378194e+07  1.301303e+06

                Density (per km²)  Growth Rate  World Population Percentage
 Continent
 Africa                126.406569     1.021180                     0.313509
 Asia                 1025.024136     1.009384                     1.183800
 Europe                663.324742     1.002256                     0.186600
 North America         272.494118     1.004285                     0.187750
 Oceania               132.543065     1.007383                     0.023913
 South America          20.971979     1.007957                     0.391429  ,
 ['Rank', '2022 Population'])

In [56]:
df2 = grouped_dataframe.mean('Continent')['Rank']

In [58]:
df2

Continent
Africa            92.157895
Asia              77.560000
Europe           124.500000
North America    160.925000
Oceania          188.521739
South America     97.571429
Name: Rank, dtype: float64

In [46]:
df2.to_csv(r'C:\Users\charl\OneDrive\Documents\Python Tutorial Notes\Example_Folder2\world_population_grouped.csv')

In [48]:
df2.to_excel(r'C:\Users\charl\OneDrive\Documents\Python Tutorial Notes\Example_Folder2\world_population_grouped_excel.xlsx')